<configuration>
    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] [%thread] [%X{pekkoSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="slick" level="ERROR" />
    <logger name="org.apache.pekko.event.Logging" level="DEBUG" />
    <logger name="com.orca.ais.viewer.actors.ClientActor" level="INFO" />
    <logger name="com.orca.ais.viewer.actors.DbUpdater" level="ERROR" />
    <logger name="com.orca.ais.viewer.actors.AISRetriever" level="ERROR" />
    <logger name="com.orca.ais.viewer.data.DbAccess" level="ERROR" />
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
